.marker,
.pin {
  z-index: 20;
}

.marker:hover + .tooltip {
  opacity: 0.8;
  z-index: 30;
}

.pin:hover + .tooltip {
  opacity: 0.8;
  z-index: 30;
}

.tooltip {
  z-index: -1;
  position: absolute;
  left: 1.25rem;
  bottom: 0.2rem;
  width: 14rem;
  background-color: black;
  color: white;
  opacity: 0;
  transition: all 0.2s ease-in;
  border-radius: 0.25rem;
  padding: 0.5rem;
  h3 {
    font-size: 1rem;
    font-weight: 500;
  }
  p {
    font-size: 0.5rem;
  }
}

#query {
  color: #00bfff;
  z-index: 20;
}

#greenPin {
  color: #3e7c17;
}

#garbagePin {
  color: #ffbf00;
}

#theftPin {
  color: #b85252;
}

#accidentPin {
  color: #ba55d3;
}
