* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div#root {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

div#root form.search {
  border: 2px solid #ffe277;
  border-radius: 1rem;
  padding: 1rem;
  width: 60vw;
  height: 33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

div#root form.search div.addressTags {
  position: absolute;
  left: 7rem;
  top: 2rem;
}

div#root form.search div.addressTags label {
  font-size: 1.25rem;
  padding-right: 3.5rem;
}

div#root form.search div.addressTags input#address {
  width: 25rem;
  border: #c6c6c6 solid 2px;
  border-radius: 0.25rem;
  height: 2rem;
  font-size: 1.25rem;
  padding: 0 0.25rem;
}

div#root form.search div.addressTags input#address:focus, div#root form.search div.addressTags input#address:hover {
  border: #ffdd7e solid 2px;
  outline: none;
}

div#root form.search div.conditionTags {
  position: absolute;
  left: 7rem;
  top: 5rem;
}

div#root form.search div.conditionTags label {
  font-size: 1.25rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

div#root form.search div.conditionTags button.condition {
  font-size: 1.1rem;
  border: #c6c6c6 solid 2px;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  color: #8b8b8b;
  background-color: #ffffff;
}

div#root form.search div.conditionTags button.condition:hover {
  background-color: #ffcd3c;
  color: black;
  border: #ffcd3c solid 2px;
  cursor: pointer;
}

div#root form.search div.conditionTags button.checked {
  background-color: #ffcd3c;
  color: black;
  border: #ffcd3c solid 2px;
  cursor: pointer;
}

div#root form.search div.range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 7rem;
  top: 8.3rem;
}

div#root form.search div.range label {
  font-size: 1.25rem;
  padding-right: 1rem;
}

div#root form.search div.range select {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  border: #c6c6c6 solid 2px;
  margin-right: 3rem;
}

div#root form.search div.range select:focus, div#root form.search div.range select:hover {
  border: #ffdd7e solid 2px;
  outline: none;
}

div#root form.search button.submit {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  font-size: 1rem;
  width: 3.5rem;
  padding: 0.1rem;
  border: #c6c6c6 solid 2px;
  border-radius: 0.5rem;
  color: #8b8b8b;
  background-color: white;
}

div#root form.search button.submit:hover {
  background-color: #ffcd3c;
  color: black;
  border: #ffcd3c solid 2px;
  cursor: pointer;
}

div#root div.whole {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div#root div.twoSide {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#root div.twoSide div.left {
  width: 52%;
  padding-right: 1rem;
}

div#root div.twoSide div.right {
  width: 48%;
}

div#root div.card {
  width: 100%;
  border: 2px solid #ffe277;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1.25rem;
}

div#root div.card div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#root div.card div.title h3 {
  color: #eb9c23;
  font-size: 1.5rem;
  font-weight: 600;
}

div#root div.card div.title p {
  padding-top: 0.55rem;
  padding-left: 0.7rem;
  color: #b4846c;
}

div#root div.card div.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

div#root div#environment .light {
  width: 0.75rem;
}

div#root div#environment #good {
  color: #34be82;
}

div#root div#environment #normal {
  color: #f4a442;
}

div#root div#environment #danger {
  color: #ff5c58;
}

div#root div#environment table thead {
  font-size: 1.25rem;
}

div#root div#environment table thead tr td {
  text-align: center;
  padding: 1.1rem 1rem;
}

div#root div#environment table tbody tr td {
  text-align: center;
  padding: 0.5rem 1rem;
}

div#root div#eco table {
  margin-top: 2.25rem;
  margin-bottom: 2.45rem;
}

div#root div#eco table tr td {
  text-align: center;
  padding: 0.5rem 0.6rem;
}

div#root div#eco table tr td input[type="checkbox"] {
  display: none;
}

div#root div#eco table tr td input[type="checkbox"] + label {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

div#root div#eco table tr td input[type="checkbox"]:checked + label {
  opacity: 0.3;
}

div#root div#safety div.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

div#root div#safety div.checkbox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7rem;
  margin: 1rem 1rem 0rem 1rem;
}

div#root div#safety div.checkbox p {
  margin: 0 0.5rem 0 0;
}

div#root div#safety div.checkbox input[type="checkbox"] {
  display: none;
}

div#root div#safety div.checkbox input[type="checkbox"] + label {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

div#root div#safety div.checkbox input[type="checkbox"]:checked + label {
  opacity: 0.3;
}

div#root div#safety table tr td {
  text-align: center;
  padding: 0.5rem 1rem;
}

div#root div#map {
  width: 100%;
  height: 65vh;
  border-radius: 1rem;
  padding: 0;
}
/*# sourceMappingURL=App.css.map */