.marker {
  position: absolute;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}
.marker:hover {
  z-index: 1;
  cursor: pointer;
}

#query {
  color: #fda65d;
}

#greenPin {
  color: #3e7c17;
}

#garbagePin {
  color: #ffe459;
}

#safetyPin {
  color: #b85252;
}
