.marker {
  position: absolute;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}
.marker:hover {
  z-index: 1;
  cursor: pointer;
}

#query {
  color: darkorange;
}

#safetyPin {
  color: #b22222;
}
